body {
  background-color: #141414;
  color: #fff;
}
.card-header {
  padding: 0px !important;
  /*background-color: rgb(188, 251, 237);*/
  background: rgba(0, 250, 196, 1);
  background: -moz-linear-gradient(
    left,
    rgba(0, 250, 196, 1) 34%,
    rgba(33, 250, 203, 1) 49%,
    rgba(144, 249, 226, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(34%, rgba(0, 250, 196, 1)),
    color-stop(49%, rgba(33, 250, 203, 1)),
    color-stop(100%, rgba(144, 249, 226, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 250, 196, 1) 34%,
    rgba(33, 250, 203, 1) 49%,
    rgba(144, 249, 226, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 250, 196, 1) 34%,
    rgba(33, 250, 203, 1) 49%,
    rgba(144, 249, 226, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 250, 196, 1) 34%,
    rgba(33, 250, 203, 1) 49%,
    rgba(144, 249, 226, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 250, 196, 1) 34%,
    rgba(33, 250, 203, 1) 49%,
    rgba(144, 249, 226, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fac4', endColorstr='#90f9e2', GradientType=1 );
  border-radius: 5px !important;
  box-shadow: 0 0px 6px 0px rgba(6, 243, 201, 0.6);
  color: #141414;
}
textarea:focus,
.custom-select:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(188, 251, 237, 0.8);
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.075);
  outline: 0 none;
}
.center-Chart {
  margin: 0 auto;
}
.table td,
.table th {
  padding: 0.25rem;
}

.tHeader {
  font-size: 16px;
}
.card-header {
  border-bottom: none;
}
.pointer:hover {
  cursor: pointer;
}
.table {
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .cHeader {
    font-size: 15px !important;
  }
  .tHeader {
    font-size: 13px;
  }
  .m-5 {
    margin: 0px !important;
  }
}

.center-row-action {
  transform: translateY(25%);
}
